<!DOCTYPE html>
<html>
<head>
    <title>Home - MokwenaApp</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('menu'); %>

    <div class="container">
        <h2>Welcome to MokwenaApp</h2>
        <img src="https://cdn-icons-png.flaticon.com/512/9131/9131510.png" alt="Welcome" width="200">
    </div>
</body>
</html>
